*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
content-from-pandoc-source.tex
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.pdf
*.run.xml
*.synctex.gz
*.synctex.gz(busy)
*.toc
frontmatter/*.pdf
workspace
workspace/
workspace/*.*